.table{
    width: 100%;
    border-collapse: collapse;
}

.table th, 
.table td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid grey;
}

.table th{
    background-color: lightblue;
}

.table tbody tr{
    background-color: white;
}

.customers-container{
    width: 1200px;
    height: 500px;
}

.add-customers-button{
    margin-bottom: 28px;
    margin-top: -10px;
    background-color: blue;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
}

.add-customers-button a{
    color: white;
    text-decoration: none;
}

.add-customers-button:hover{
    background-color: #007bff;
    cursor: pointer;
}

.search-container{
    float: right;
    margin-top: -64px;
}

.search{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
}

.search-button{
    padding: 6px 12px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover{
    background-color: #007bff;
}

.actions-container a{
   text-decoration: none;
}